// font
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap");
$font: "Lato", sans-serif;

// Colors
$primary: #fe5f1e;
$primary-hover: #b23301;
$secondary: #f8f8f8;
$pure: #fff;
$dark: #232323;
$gray: #ccc;

// Transition
$smooth: all 0.3s ease-in-out;

