<section class="cart">
    <!-- Empty Cart -->
    <!-- <div class="empty__cart py-8">
        <h3 class="text-3xl font-bold text-center">Cart Empty</h3>
        <p class="text-gray-500 text-center my-8">You probably haven't order pizza yet. <br />
            To order pizza go to the main page
        </p>
        <img class="w-1/4 mt-8 mx-auto" src="img/empty-cart.png" alt="empty cart">

        <div class="w-full flex items-center justify-center my-8">
            <button class="empty__cart-button">Go Back</button>
        </div>
    </div> -->
    <!-- Order -->
    <div class="container w-6/12 mx-auto py-8">
        <div class="border-b-2  flex items-center py-5">
            <img src="/img/cart-black.png" alt="">
            <h3 class="text-2xl ml-3 font-extrabold">Order Summery</h3>
        </div>
        <div class="pizza__items border-b-2 py-5">
            <div class="item flex items-center justify-between mb-5">
                <span class="flex items-center">
                    <img class="w-36 mr-3" src="/img/pizza.png" alt="pizza">
                    <div class="flex flex-col">
                        <span>Marinara</span>
                        <span>MEDIUM</span>
                    </div>
                </span>
                <span>1 Psc</span>
                <span class="font-extrabold">$300</span>
            </div>
            <div class="item flex items-center justify-between mb-5">
                <span class="flex items-center">
                    <img class="w-36 mr-3" src="/img/pizza.png" alt="pizza">
                    <div class="flex flex-col">
                        <span>Marinara</span>
                        <span>MEDIUM</span>
                    </div>
                </span>
                <span>1 Psc</span>
                <span class="font-extrabold">$300</span>
            </div>
            <div class="item flex items-center justify-between mb-5">
                <span class="flex items-center">
                    <img class="w-36 mr-3" src="/img/pizza.png" alt="pizza">
                    <div class="flex flex-col">
                        <span>Marinara</span>
                        <span>MEDIUM</span>
                    </div>
                </span>
                <span>1 Psc</span>
                <span class="font-extrabold">$300</span>
            </div>
        </div>
        <!-- Order Address and Amount -->
        <div class="order__footer py-5">
            <h3 class="text-right font-bold text-lg mb-5"> <span>Total Amount:</span> $300</h3>
            <div class="phoneAddress text-right flex flex-col">
                <div class="">
                    <input class="p-3 block w-1/2 ml-auto mb-5 border-b-2 focus:outline-0" type="text"
                        placeholder="Phone Number">
                    <input class="p-3 block w-1/2 ml-auto mb-5 border-b-2 focus:outline-0" type="text"
                        placeholder="Address">
                    <div>
                        <button class="btn">Order Now</button>
                        
                        <a href="/login" class="btn">Login</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>